#App {
    background-image: url("/back_img.jpg"); /* Replace with the correct path */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: repeat-y; 
    min-height: 100vh; 
    padding: 20px; /* Optional: Add padding */
}

#Previous{
    background-image: url("/back_img.jpg"); /* Replace with the correct path */
    /* background-size: cover; Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: repeat; 
    min-height: 100vh; 
    padding: 100px; 
}