.pdf-div{
    padding: 50px;
    background-color:whitesmoke;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .page-container {
    margin: 20px;
    text-align: center;
}

  canvas.react-pdf__Page__canvas {
    margin-bottom: 50px;
  }
  #viewMessage{
    color:rgb(35, 239, 35);
    text-align: center;
  }
  /* .pdf-div{
  padding: 50px;
  background-color: #dedede;
  margin-top: 50px;
}
canvas.react-pdf__Page__canvas {
  margin-bottom: 50px;
} */